<style>
    .card-tools {
        display: flex;
    }
</style>

<!-- Navbar -->
<nav class="z-3 position-fixed header-width main-header navbar navbar-expand navbar-white navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <div class="dropdown">
                <button class="btn dropdown-toggle" 
                        type="button" 
                        data-bs-toggle="dropdown" 
                        aria-expanded="false">
                    <h5>Product category (<span>{{productCategories.length}}</span>)</h5>
                </button>
                <ul class="dropdown-menu">
                    <li><button class="dropdown-item" type="button">Action</button></li>
                    <li><button class="dropdown-item" type="button">Another action</button></li>
                    <li><button class="dropdown-item" type="button">Something else here</button></li>
                </ul>
            </div>

        </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" title="Reload" href="javascript:void(0);"
               ng-click="getListProductCategory()" role="button">
                <i class="fa-solid fa-arrows-rotate"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" title="Create new" href="javascript:void(0);"
               ui-sref="add_product_category" role="button">
                <i class="fa-solid fa-plus"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" title="Update" href="javascript:void(0);" ng-click="update_product_category()" role="button">
                <i class="fa-regular fa-pen-to-square"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" title="Export excel" href="javascript:void(0);" role="button">
                <i class="fa-regular fa-file-export"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-danger" title="Delete" href="javascript:void(0);" ng-click="deleteMultiple()" role="button">
                <i class="fa-regular fa-trash-can"></i>
            </a>
        </li>
    </ul>
</nav>
<!-- /.navbar -->

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Product category</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="card">
        <div class="card-header">
            <div class="input-group mb-3">
                <input type="text" class="form-control" 
                       ng-model="keyword" 
                       placeholder="enter keyword to search ..." 
                       aria-label="enter keyword to search ..." 
                       aria-describedby="button-search">
                <button class="btn btn-outline-secondary" 
                        type="button" 
                        ng-click="search()" 
                        id="button-search">
                    <i class="fa-light fa-magnifying-glass"></i>
                </button>
            </div>
        </div>

        <div class="card-body table-responsive">
            <table class="table table-hover align-middle">
                <thead>
                    <tr>
                        <th style="width: 40px; text-align: center; cursor: pointer; ">
                            <input ng-click="selectAll()" id="txb_selectAll" type="checkbox" name="selectAll" />
                        </th>
                        <th style="width: 60px;">#</th>
                        <th style="">Name</th>
                        <th style="">Created Date</th>
                        <th style="">Created By</th>
                        <th style="text-align: center">Status</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="item in productCategories"
                        ng-class="{'select-item': item.checked}"
                        ng-click="selectProductCategory(item)"
                        ng-dblclick="Dbl_Select_ProductCategory(item)">
                        <td>
                            <input style="cursor: pointer; " name="selectAll" 
                                   ng-model="item.checked" type="checkbox" />
                        </td>
                        <td>{{$index + 1}}</td>
                        <td>{{item.Name}}</td>
                        <td>{{item.CreatedDate | date:'dd/MM/yyyy'}}</td>
                        <td>{{item.CreatedBy}}</td>
                        <td class="text-center">
                            <span ng-class="{'badge bg-danger':item.Status==1, 'badge bg-success':item.Status==2, 'badge bg-warning':item.Status==3, 'badge bg-primary':item.Status==4}">
                                {{item.Status | StatusFilter}}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">
            <div class="d-flex justify-content-between align-items-center">
                <p ng-hide="pagesCount == 0">Trang {{page + 1}} / {{pagesCount}}</p>
                <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getListProductCategory(page)"></pager-directive>

            </div>
        </div>
    </div>

</section>
<!--/.content -->