<style>
    .badge-overrise {
        padding: 0.4em 0.6em;
        font-size: 1.02em;
    }

    .card-tools {
        display: flex;
    }
</style>

<!--Content Header(Page header)-->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Product category</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Product category</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<section class="content-header">
    <a ui-sref="add_product_category" class="btn-primary btn">&plus; Create new</a>
</section>

<!--Main content-->
<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">List product category</h3>

            <div class="card-tools">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" style="width: 300px;" ng-model="keyword" placeholder="enter keyword to search ..." aria-label="enter keyword to search ..." aria-describedby="button-search">
                    <button class="btn btn-outline-secondary" type="button" ng-click="search()" id="button-search">Tìm kiếm</button>
                </div>

                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <!--<button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>-->
            </div>


        </div>

        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 5%">#</th>
                        <th>Name</th>
                        <th style="width: 15%;" ">Created Date</th>
                        <th style="width: 15%; text-align: center">Status</th>
                        <th style="width: 10%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in productCategories">
                        <td>{{item.ID}}</td>
                        <td>{{item.Name}}</td>
                        <td>{{item.CreatedDate | date:'dd/MM/yyyy'}}</td>
                        <td class="text-center">
                            <span ng-class="{'badge badge-overrise bg-danger':item.Status==false, 'badge badge-overrise bg-success':item.Status==true}">
                                {{item.Status | StatusFilter}}
                            </span>
                        </td>
                        <td>
                            <button class="btn btn-primary" ui-sref="update_product_category({id:item.ID})"><i class="fa fa-pen"></i> </button>
                            <button class="btn btn-danger"><i class="fa fa-trash"></i> </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix" style="display: flex; justify-content: space-between; align-items: center;">
            <p>Tổng số bản ghi: {{totalCount}}</p>
            <div>
                <p ng-hide="pagesCount == 0">Trang {{page}} / {{pagesCount}}</p>
                <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="GetListProductCategory(page)"></pager-directive>

            </div>
        </div>
    </div>

</section>
<!--/.content -->