
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ShopExample | Admin Page</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link href="~/Assets/fontawesome-pro-6.5.1-web/css/all.min.css" rel="stylesheet" />

    <!-- Toastr -->
    <link href="~/Assets/Admin/Libs/Toastr/toastr.css" rel="stylesheet" />
    <link href="~/Assets/Admin/Libs/AngularLoadingBar/loading-bar.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/Assets/Admin/Css/adminlte.min.css" rel="stylesheet" />
    <link href="~/Assets/Admin/Css/custom.css" rel="stylesheet" />

    <base href="/admin">
</head>
<body class="hold-transition sidebar-mini" ng-app="shopexample" ng-controller="rootController">
    <div ui-view></div>

    <!-- jQuery -->
    @*<script src="../../plugins/jquery/jquery.min.js"></script> <!-- Cũ -->*@
    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <!-- FontAwesome -->
    <script src="~/Assets/fontawesome-pro-6.5.1-web/js/all.min.js"></script>
    <!-- Bootstrap 4 -->
    <!--<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>--> <!-- Cũ -->
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Assets/Admin/Js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    @*<script src="~/Assets/Admin/Js/demo.js"></script>*@

    <script src="~/Assets/Admin/Libs/Angular/angular.js"></script>
    <script src="~/Assets/Admin/Libs/Angular/angular-ui-router.js"></script>

    <script src="~/Assets/Admin/Libs/Toastr/toastr.min.js"></script>
    <script src="~/Assets/Admin/Libs/bootbox/bootbox.js"></script>
    <script src="~/Assets/Admin/Libs/CKEditor/ckeditor.js"></script>
    <script src="~/Assets/Admin/Libs/CKFinder/ckfinder.js"></script>
    <script src="~/Assets/Admin/Libs/ngBootbox/ngBootbox.js"></script>
    <script src="~/Assets/Admin/Libs/ngCKEditor/ng-ckeditor.js"></script>
    <script src="~/Assets/Admin/Libs/AngularLoadingBar/loading-bar.js"></script>
    <script src="~/Assets/Admin/Libs/AngularlocalStorage/angular-local-storage.js"></script>
    <script src="~/Assets/Admin/Libs/AngularMessage/angular-messages.min.js"></script>
    <script src="~/Assets/Admin/Libs/AngularAnimate/angular-animate.min.js"></script>

    <script src="~/AppClient/Shared/Modules/ShopExample.Common.js"></script>
    <script src="~/AppClient/Components/Products/Products.module.js"></script>
    <script src="~/AppClient/Components/ProductCategories/ProductCategory.module.js"></script>
    <script src="~/AppClient/Components/PostCategories/PostCategories.module.js"></script>
    <script src="~/AppClient/App.js"></script>
    <script src="~/AppClient/Components/Home/RootController.js"></script>

    <script src="~/AppClient/Shared/Service/ApiService.js"></script>
    <script src="~/AppClient/Shared/Service/NotificationService.js"></script>
    <script src="~/AppClient/Shared/Service/CommonService.js"></script>
    <script src="~/AppClient/Shared/Service/AuthData.js"></script>
    <script src="~/AppClient/Shared/Service/AuthenticationService.js"></script>
    <script src="~/AppClient/Shared/Service/LoginService.js"></script>
    <script src="~/AppClient/Shared/Directives/PagerDirective.js"></script>

    <script src="~/AppClient/Components/Products/ProductAddController.js"></script>
    <script src="~/AppClient/Components/Products/ProductEditController.js"></script>
    <script src="~/AppClient/Components/Products/ProductListController.js"></script>
    <script src="~/AppClient/Components/ProductCategories/ProductCategoryListController.js"></script>
    <script src="~/AppClient/Components/ProductCategories/ProductCategoryAddController.js"></script>
    <script src="~/AppClient/Components/ProductCategories/ProductCategoryUpdateController.js"></script>
    <script src="~/AppClient/Components/PostCategories/PostCategoryListController.js"></script>
    <script src="~/AppClient/Components/Home/HomeController.js"></script>
    <script src="~/AppClient/Components/Logins/LoginController.js"></script>
    <script src="~/AppClient/Shared/Filter/Fillter.js"></script>
</body>
</html>

