
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/Plugins/angular.js"></script>
</head>
<body>
    <div> 
        1 + 2 = {{1+2}}
    </div>
</body>
</html>
