<!-- Site wrapper -->
<div class="wrapper">
    <div class="container">
        <div class="row">
            <!-- Main Sidebar Container -->
            <aside class="main-sidebar position-fixed sidebar-dark-primary elevation-4 col-lg-2">
                <!-- Brand Logo -->
                <a href="javascript:void(0);" ui-sref="home" class="brand-link">
                    <img src="../../../Assets/Admin/Imgs/AdminLTELogo.png" alt="Shop Example" class="brand-image img-circle elevation-3" style="opacity: .8">
                    <span class="brand-text font-weight-light">Shop Example</span>
                </a>

                <!-- Sidebar -->
                <div class="sidebar">
                    <!-- Sidebar user (optional) -->
                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="image">
                            <img src="../../../Assets/Admin/Imgs/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                        </div>
                        <div class="info">
                            <a href="javascript:void(0);" ui-sref="home" class="d-block">{{authentication.userName}}</a>
                        </div>
                    </div>

                    <!-- SidebarSearch Form -->
                    <div class="form-inline">
                        <div class="input-group" data-widget="sidebar-search">
                            <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-sidebar">
                                    <i class="fas fa-search fa-fw"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Sidebar Menu -->
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" style="position: relative;" data-widget="treeview" role="menu" data-accordion="false">
                            <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                            <li class="nav-item">
                                <a href="javascript:void(0);" ui-sref="home" class="nav-link">
                                    <i class="nav-icon fas fa-tachometer-alt"></i>
                                    <p>Dashboard</p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <div class="nav-link" style="color: #c2c7d0; cursor: pointer;">
                                    <i class="nav-icon fas fa-copy"></i>
                                    <p>
                                        Product
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </div>

                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a ui-sref="products" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Products</p>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a ui-sref="products_category" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Product category</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <div class="nav-link" style="color: #c2c7d0; cursor: pointer;">
                                    <i class="nav-icon fas fa-chart-pie"></i>
                                    <p>
                                        Posts
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </div>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a ui-sref="postCategory" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Post category</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0);" ui-sref="home" class="nav-link">
                                    <i class="nav-icon fas fa-tree"></i>
                                    <p>
                                        UI Elements
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="javascript:void(0);" ui-sref="home" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>General</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0);" ui-sref="home" class="nav-link">
                                    <i class="nav-icon fas fa-edit"></i>
                                    <p>
                                        Forms
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="javascript:void(0);" ui-sref="home" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>General Elements</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-header">EXAMPLES</li>
                            <li class="nav-item">
                                <a href="javascript:void(0);" ui-sref="home" class="nav-link">
                                    <i class="nav-icon far fa-calendar-alt"></i>
                                    <p>
                                        Calendar
                                        <span class="badge badge-info right">2</span>
                                    </p>
                                </a>
                            </li>

                            <!-- Đăng xuất -->
                            <li class="nav-item logout">
                                <a href="javascript:void(0);" ng-click="logout()" class="nav-link logout-item">
                                    <div>
                                        <i class="fa-solid fa-power-off fa-beat nav-icon text-danger"></i>
                                        <p>Đăng Xuất</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- /.sidebar-menu -->
                </div>
                <!-- /.sidebar -->
            </aside>

            <div class="col-lg-2"></div>

            <div class="col-lg-10 p-0">                
                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">
                    <div ui-view class="content"></div>
                </div>
                <!-- /.content-wrapper -->

                <footer class="main-footer">
                    <div class="float-right d-none d-sm-block">
                    </div>
                    <strong>
                        Copyright &copy; {{copyright}}
                        <a href="javascript:void(0);" ui-sref="home">Shop Example</a>.
                    </strong>
                    All rights reserved.
                </footer>

                <!-- Control Sidebar -->
                <!--<aside class="control-sidebar control-sidebar-dark">-->
                    <!-- Control sidebar content goes here -->
                <!--</aside>-->
                <!-- /.control-sidebar -->
            </div>
        </div>
    </div>
</div>
<!-- ./wrapper -->