
<style>
    .badge-overrise {
        padding: 0.4em 0.6em;
        font-size: 1.02em;
    }

    .card-tools {
        display: flex;
    }
</style>

<!--Content Header(Page header)-->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Product</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Product</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<section class="content-header">
    <button class="btn-primary btn" ui-sref="product_add">&plus; Create new</button>
    <button class="btn btn-danger" id="btnDeleteMulti" hidden ng-click="deleteProductMulti()">Delete</button>
</section>

<!--Main content-->
<section class="content">
    <!-- /.card -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Product list</h3>

            <div class="card-tools">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" style="width: 300px;" ng-model="keyword" placeholder="enter keyword to search ..." aria-label="enter keyword to search ..." aria-describedby="button-search">
                    <button style="margin-right: 25px;" class="btn btn-outline-secondary" type="button" ng-click="search()" id="button-search">
                        <i class="fa-sharp fa-solid fa-magnifying-glass fa-beat"></i>
                    </button>
                </div>

                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <!--<button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>-->
            </div>
        </div>

        <!-- /.card-header -->
        <div class="card-body p-0">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" name="selectAll" id="txt_checkAll" ng-click="selectAll()" />
                        </th>
                        <th style="width: 5%">#</th>
                        <th>Name</th>
                        <th>Created date</th>
                        <th>Giá thành</th>
                        <th>Tồn kho</th>
                        <th>Đã mua</th>
                        <th class="text-center">Trạng thái</th>
                        <th style="width: 10%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in productList">
                        <td>
                            <input style="cursor: pointer;" name="selectAll" ng-model="item.checked" type="checkbox" />
                        </td>
                        <td>{{item.ID}}</td>
                        <td>
                            <img width="50" style="margin-right: 15px;" src="{{item.Image}}" alt="{{item.Name}}" />
                            {{item.Name}}
                        </td>
                        <td>{{item.CreatedDate | date: 'dd/MM/yyyy'}}</td>
                        <td>{{ item.Price | currency:'VND ':0:'floor'}}</td>
                        <td>{{item.Quantity}}</td>
                        <td>{{item.BuyCount}}</td>
                        <td class="text-center">
                            <span ng-class="{'badge bg-danger':item.Status==false, 'badge bg-success':item.Status==true}">
                                {{item.Status | StatusFilter}}
                            </span>
                        </td>
                        <td>
                            <button class="btn btn-primary" ui-sref="update_product({id:item.ID})"><i class="fa fa-pen"></i> </button>
                            <button class="btn btn-danger"><i class="fa fa-trash"></i> </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <p>Tổng số bản ghi: {{totalCount}}</p>
            <div class="d-flex justify-content-between align-items-center" >
                <p ng-hide="pagesCount == 0">Trang {{page + 1}} / {{pagesCount}}</p>

                <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getListProduct(page)"></pager-directive>

            </div>
        </div>
    </div>
    <!-- /.card -->
</section>