<!-- Navbar -->
<nav class="z-3 position-fixed header-width main-header navbar navbar-expand navbar-white navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item" >
            <h3>Product (<span>{{productList.length}}</span>)</h3>
        </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" title="Reload" href="javascript:void(0);" ng-click="getListProduct()" role="button">
                <i class="fa-solid fa-arrows-rotate"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" title="Create new" href="javascript:void(0);" ui-sref="product_add" role="button">
                <i class="fa-solid fa-plus"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" title="Update" href="javascript:void(0);" ng-click="update_product()" role="button">
                <i class="fa-regular fa-pen-to-square"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" title="Export excel" href="javascript:void(0);" role="button">
                <i class="fa-regular fa-file-export"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-danger" title="Delete" href="javascript:void(0);" ng-click="deleteProductMulti()" role="button">
                <i class="fa-regular fa-trash-can"></i>
            </a>
        </li>
    </ul>
</nav>
<!-- /.navbar -->

<!--Main content-->
<section class="content pt-6">
    <!-- /.card -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Product list</h3>

            <div class="card-tools">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" style="width: 300px;" ng-model="keyword" placeholder="enter keyword to search ..." aria-label="enter keyword to search ..." aria-describedby="button-search">
                    <button style="margin-right: 25px;" class="btn btn-outline-secondary" type="button" ng-click="search()" id="button-search">
                        <i class="fa-light fa-magnifying-glass"></i>
                    </button>
                </div>

                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <!--<button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>-->
            </div>
        </div>

        <!-- /.card-header -->
        <div class="card-body p-0">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" name="selectAll" id="txt_checkAll" ng-model="isSelectAll" ng-click="selectAll(isSelectAll)" />
                        </th>
                        <th style="width: 5%">#</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Giá thành</th>
                        <th>Tồn kho</th>
                        <th>Đã mua</th>
                        <th class="text-center">Trạng thái</th>
                        <th>Created date</th>
                        <!--<th style="width: 10%"></th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr style="cursor: pointer;" ng-class="{'select-item': item.checked}"
                        ng-repeat="item in productList"
                        ng-click="selectProduct(item)"
                        ng-dblclick="Dbl_Select_Product(item)">
                        <td>
                            <input style="cursor: pointer;" name="selectAll" ng-model="item.checked" type="checkbox" />
                        </td>
                        <td>{{$index + 1}}</td>
                        <td><img width="50" style="margin-right: 15px;" src="{{item.Image}}" alt="{{item.Name}}" /></td>
                        <td> <p class="product_name">{{item.Name}}</p></td>
                        <td>{{ item.Price | currency:'VND ':0:'floor'}}</td>
                        <td>{{item.Quantity}}</td>
                        <td>{{item.BuyCount}}</td>
                        <td class="text-center">
                            <span ng-class="{'badge bg-danger':item.Status==1, 'badge bg-success':item.Status==2, 'badge bg-warning':item.Status==3, 'badge bg-primary':item.Status==4}">
                                {{item.Status | StatusFilter}}
                            </span>
                        </td>
                        <td>{{item.CreatedDate | date: 'dd/MM/yyyy'}}</td>
                        <!--<td>
                            <button class="btn btn-primary" ui-sref="update_product({id:item.ID})"><i class="fa fa-pen"></i> </button>
                            <button class="btn btn-danger"><i class="fa fa-trash"></i> </button>
                        </td>-->
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <p>Tổng số bản ghi: {{totalCount}}</p>
            <div class="d-flex justify-content-between align-items-center">
                <p ng-hide="pagesCount == 0">Trang {{page + 1}} / {{pagesCount}}</p>

                <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getListProduct(page)"></pager-directive>

            </div>
        </div>
    </div>
    <!-- /.card -->
</section>